.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.min-w-10 {
    min-width: 2.25rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}