ul {
    list-style: none; /* 동그라미 없애기 */
    padding: 0;       /* 안쪽 여백 제거 */
}

.fixed {
    position: fixed;
    left: 0;
}

.bottom-0 {
    bottom: 0;
}

.bottom-50 {
    bottom: 50px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.min-w-20 {
    min-width: 5rem;
}

.min-w-3xl {
    min-width: 48rem;
}

.max-w-screen-md {
    max-width: 768px;
}

.max-w-3xl {
    max-width: 48rem;
}

.w-full {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.h-screen {
    height: 90vh;
}

.p-2 {
    padding: 0.5rem;
}

.py-px {
    padding-top: 1px;
    padding-bottom: 1px;
}

.mt-auto {
    margin-top: auto;
}

.except-mt-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.font-semibold {
    font-weight: 600;
}

.text-white {
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-lime-900 {
    color: rgb(54 83 20 / var(--tw-text-opacity, 1));
}

.bg-zinc-100 {
    background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1));
}

.bg-zinc-200 {
    background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1));
}

.bg-green-900 {
    background-color: rgb(20 83 45 / var(--tw-bg-opacity, 1));
}

.rounded {
    border-radius: 0.25rem; /* 4px */
}

.rounded-lg {
    border-radius: 0.5rem; /* 8px */
}

.grow {
    flex-grow: 1;
}

.border-0 {
    border-width: 0px;
}

.border-t {
    border-top-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-slate-400 {
    border-color: rgb(148 163 184 / var(--tw-border-opacity, 1));
}

.border-zinc-400 {
    border-color: rgb(161 161 170 / var(--tw-border-opacity, 1));
}

.border-red {
    border-color: red;
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.gap-2 {
    gap: 0.5rem; /* 8px */
}

.timestampStyle {
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
    font-size: 0.5rem; /* 12px */
    line-height: 0.75rem; /* 16px */
    align-items: flex-end;
}

.userStyle {
    color: rgb(54 83 20 / var(--tw-text-opacity, 1));
    font-size: 0.5rem; /* 12px */
    line-height: 0.75rem; /* 16px */
    align-items: flex-end;
    justify-content: flex-end;
}

.contentStyle {
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    min-width: 5rem;
    align-items: center;
    margin: 0.25rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 300;
    border-radius: 0.25rem;
    border-width: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0.125rem; /* 2px */
    padding-bottom: 0.125rem; /* 2px */
}

.msgStyle {
    display: flex;
    flex-direction: col;
    justify-content: flex-end;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sysMsgStyle {
    background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.25rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 300;
    border-radius: 0.25rem;
    border-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sysAlertStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: 300;
    border-radius: 0.25rem;
    border-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.randomQStyle {
    background-color: rgb(82 82 91 / var(--tw-bg-opacity, 1));
    border-radius: 0.5rem; /* 8px */
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    /* color: black; */
    padding: 0.5rem;
    min-width: 5rem;
    position: relative;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    word-break: break-all;
    overflow-wrap: break-word;
}

.randomQStyle:after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-right-color: rgb(82 82 91 / var(--tw-bg-opacity, 1));
	border-left: 0;
	border-bottom: 0;
	margin-top: -5.5px;
	margin-left: -10px;
}