.bottom-0 {
    bottom: 0;
}

.bottom-50 {
    bottom: 50px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.min-w-20 {
    min-width: 5rem;
}

.min-w-3xl {
    min-width: 48rem;
}

.max-w-screen-md {
    max-width: 768px;
}

.max-w-3xl {
    max-width: 48rem;
}

.w-full {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-2rem {
    width: 2rem;
}

.h-80 {
    height: 80%;
}

.h-screen {
    height: 90vh;
}

.min-h-screen {
    min-height: 100vh;
}

.h-cont {
    height: calc(100vh - 130px);
}

.max-h-screen {
    max-height: 100vh;
}

.p-2 {
    padding: 0.5rem;
}

.py-px {
    padding-top: 1px;
    padding-bottom: 1px;
}

.p-bottom {
    padding-bottom: 150px;
}

.mt-auto {
    margin-top: auto;
}

.except-mt-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm {
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875)
}

.text-base {
    font-size: 1rem;
    line-height: calc(1.5 / 1)
}

.text-lg {
    font-size: 1.125rem;
    line-height: calc(1.75 / 1.125)
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-blue-500 {
    color: oklch(62.3% 0.214 259.815);
}

.text-neutral-100 {
    color: oklch(98.5% 0 0)
}

.icon-gray {
    color: oklch(70.7% 0.022 261.325);
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.rounded {
    border-radius: 0.25rem; /* 4px */
}

.rounded-lg {
    border-radius: 0.5rem; /* 8px */
}

.rounded-t-xl {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.grow {
    flex-grow: 1;
}

.overflow-y-auto {
    overflow-y: auto;
}

.border-0 {
    border-width: 0px;
}

.border-3 {
    border-width: 3.5px;
}

.border-t {
    border-top-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-slate-200 {
    border-color: oklch(92.9% 0.013 255.508);
}

.border-slate-400 {
    border-color: rgb(148 163 184 / var(--tw-border-opacity, 1));
}

.border-zinc-400 {
    border-color: rgb(161 161 170 / var(--tw-border-opacity, 1));
}

.border-red {
    border-color: red;
}

.border-yellow-300 {
    border-color: oklch(84.877% 0.17349 96.79);
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.bg-indigo-700 {
    background-color: oklch(43.594% 0.18492 274.871);
}

.bg-violet-700 {
    background-color: oklch(43.534% 0.22482 295.715)
}

.bg-slate-200 {
    background-color: oklch(92.9% 0.013 255.508);
}

.bg-zinc-200 {
    background-color: oklch(92% 0.004 286.32);
}

.bg-blue-500 {
    background-color: oklch(62.3% 0.214 259.815);
}

.gap-2 {
    gap: 0.5rem; /* 8px */
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.zoom-btn-container {
    bottom: 15%;
    left: 50%;
    translate: -50% var(--tw-translate-y, 0);
    z-index: 10;
}

.zoom-btn {
    width: 10rem;
    height: 3rem;
}

.zoom-btn:hover {
    background-color: oklch(40.177% 0.1833 273.728);
}

.zoom-btn:active {
    background-color: oklch(32.276% 0.1663 271.429);
    transform: translateY(1px);
}

.explanation-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(256, 256, 256);
    z-index: 100; /* 이미지 위에 오도록 설정 */
}

.close-btn {
    width: 90%;
    background-color: oklch(62.3% 0.214 259.815);
    border: 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: calc(1.75 / 1.125);
    color: oklch(98.5% 0 0);
    border-radius: 0.5rem;
}

.close-btn:hover {
    background-color: oklch(57.374% 0.20815 259.535);
}

.close-btn:active {
    background-color: oklch(50.848% 0.19825 260.024);
    transform: translateY(1px);
    box-shadow: none;
}

.hidden {
    display: none;
}